{% extends "::base.html.twig" %}

{% block body %}
<h2>Affiche tous les articles</h2>

{% for article in articles  %}
    {% if loop.first %}
        <ul>
     {% endif %}       
    <li><a href="{{ path('article_read',{'id':article.id})}}">{{article.titre}}</a></li><br/>
     {% if loop.last %}
        <ul>
     {% endif %} 
{% endfor %}

{% endblock %}